node_modules/
venv/
build/
htmlcov/
coverage/
logs/
.slopmop/
__pycache__/
*.pyc
*.py
*.html
*.md
*.txt
*.json
*.xml
*.yml
*.yaml
*.sql
*.csv
*.db
*.png
*.jpg
*.gif
*.ico
*.svg
*.woff
*.woff2
*.ttf
*.eot
flask_session/
data/
archive/
docs/
demos/
deploy/
research/
templates/
